.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #5b616d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #5b616d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
}

main .container {
  width: 70vw;
  border: 0.3rem solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

main .results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}