.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  background-color: #1d4e8f;
  width: 100%;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-footer {
  margin-top: 10px;
  direction: rtl;
  text-align: justify;
  
}

.App-link {
  color: #61dafb;
}

main {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  min-height: 80vh;
}

.container { 
  width: 80vw;
}

links {
  margin-top:30px;
  display: flex;
  gap: 10px;
}
/* Header-Fields */

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 80%; 
  max-width: 100%;
}

.header-selector-container {
  display: flex;
  justify-content: flex-start;
}

.divider {
  margin: 20px;
  font-weight: bold;
}

/* Results Component */

.results-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30vh;
  max-height: 30vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid rgb(246, 246, 246);
  border-radius: 8px;
  width: 80%; 
  overflow-y: scroll;
  overflow-x: hidden;
}

.results-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 4px;
  font-size: 20px;
}
.results-row:hover {
  background-color:rgb(255, 230, 149);
}
.odd {
  background-color:rgb(246, 246, 246);
}

/* Term Component */
.term-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35%;
  max-height: 35%;
  margin-bottom: 20px;
}

.term-container {
  display: flex;
  flex-direction: column;
  line-height: 1.6em;
  font-size: 20px;
  height: 100%;
  width: 80%; 
}

.term-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.term-header > span > a > span {
  display: inline-block;
  flex-direction: row;
  margin-left: 4px;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* display: block;
  */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 180'%3E%3Cpath fill='%23f00' d='M250.346 28.075A32.18 32.18 0 0 0 227.69 5.418C207.824 0 127.87 0 127.87 0S47.912.164 28.046 5.582A32.18 32.18 0 0 0 5.39 28.24c-6.009 35.298-8.34 89.084.165 122.97a32.18 32.18 0 0 0 22.656 22.657c19.866 5.418 99.822 5.418 99.822 5.418s79.955 0 99.82-5.418a32.18 32.18 0 0 0 22.657-22.657c6.338-35.348 8.291-89.1-.164-123.134'/%3E%3Cpath fill='%23fff' d='m102.421 128.06l66.328-38.418l-66.328-38.418z'/%3E%3C/svg%3E");
}

.group-name {
  color: white;
  background-color: #517EB9;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  margin-right: 10px;
}

.presentation-id {
  display: flex;
  font-size: 16px;
}

.term_en {
  display: flex;
  justify-content: flex-start;
}

.text-divider {
  border: none;
  border-top: 1.5px solid rgb(246, 246, 246); 
  width: 94%;
}

.en-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.heb-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    width: 90vw;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }

  .header-selector-container {
    width: 100%;
  }
}